body {
  margin: 0;
  padding: 0;
}
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%; }

#togglePoints{
  position:absolute;
  top:16px;
  right:16px;
  z-index:1000;
  padding:8px 12px;
  background:#dccdf7;
  border:2px solid #30185e;
  border-radius:7px;
  cursor:pointer;
}
